# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea


###
# front/EcodeliFront/.gitignore 
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


###
## Api gitignore

#Maven
api/target/
api/pom.xml.tag
api/pom.xml.releaseBackup
api/pom.xml.versionsBackup
api/release.properties
api/.flattened-pom.xml

# Eclipse
api/.project
api/.classpath
api/.settings/
api/bin/

# IntelliJ
api/.idea
api/*.ipr
api/*.iml
api/*.iws

# NetBeans
api/nb-configuration.xml

# Visual Studio Code
api/.vscode
api/.factorypath

# OSX
api/.DS_Store

# Vim
api/*.swp
api/*.swo

# patch
api/*.orig
api/*.rej

# Local environment
api/.env

# Plugin directory
.quarkus/cli/plugins/
# TLS Certificates
api/.certs/

